@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/*.outfit-<uniquifier> {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/

* {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0;
    color: rgb(238, 227, 227);
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 0.1em;
}

body, header {
    background-color: #160033;
}

.little-title {
    font-size: 15px;
    color: #894bdb;
}

.section-title {
    font-size: 28px;
}

.iconMenu {
    display: none;
    background-color: transparent;
    border: none;
    width: 40%;
}

.iconMenu img {
    width: 10%;
}

/*---------------------------------------------- Header ------------------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 85%;
    top: 0;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    padding: 10px 150px 10px 150px;
}

h2 {
    font-size: 30px;
    background: linear-gradient(to right,#007FC6, #4D00AF, #A907AC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    color: rgb(243, 235, 235);
  }
  
  a:hover {
    opacity: 0.8;
  }
  
  hr {
    width: 100%;
    margin: 80px 0 50px 0;
  }
  
  footer {
    background-color: #2a0a55;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }  

/*-------------------------------------------- Section Home ------------------------------------------------*/
#home {
    display: flex;
    justify-content: space-between;
    margin-top: 12%;
    margin-top: 15%;
    height: 60vh;
    padding: 10px 150px 10px 150px;
}

.box-home {
    width: 90%;
}

#btn-back {
    position: fixed;
    left: 96%;
    top: 90%;
    width: 40px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    padding-top: 10px;
    background: linear-gradient(to right,#007FC6, #4D00AF, #A907AC);
    color: rgb(224, 224, 224);
}

.perfil img  {
    width: 390px;
    height: 500px;
    border-radius: 50%;
    background-color: #722cc2;
    margin-right: 50px;
}

h4 {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

h5 {
    font-size: 40px;
    padding: 0;
    margin: 30px 0px 30px 0px;
    width: 60%;
    color: #894bdb;
}

.home-title {
    width: 52%;
    line-height: 1.5em;
    font-size: 18px;
}

.home-media {
    font-size: 15px;
}

.home-icons img {
    width: 30px;
    height: 30px;
    padding: 20px 15px 0 0;
}

#btn-cv {
    width: 290px;
    height: 60px;
    font-size: 25px;
    background: linear-gradient(to right,#007FC6, #4D00AF, #A907AC);
    color: white;
    border-radius: 30px;
    margin: 50px 0px 50px 0px;
    font-family: "Outfit", sans-serif;
    letter-spacing: 0.1em;
}

.btnCv:hover {
    cursor: pointer;
    opacity: 0.8;
}

.homeIcons img:hover {
    opacity: 0.8;
}

/*-------------------------------------------- About Me ------------------------------------------------*/
#about-me {
    margin-top: 200px;
    padding: 100px 150px 100px 150px;
    background-color: rgb(24, 24, 26);
}

.who-am-i {
    display: flex;
    justify-content: space-between;
}

.imgs-about {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.img-left {
    margin: 0px 200px 0px 100px;
    width: 25%;
    border-radius: 100%;
}

.img-right {
    margin: 0px 200px 0px 300px;  
    width: 25%;
    border-radius: 100%;
}

.box-about {
    width: 50%;
}

.section-text {
    margin-top: 40px;
    line-height: 1.5em;
    font-size: 18px;
}

.section-footer {
    display: flex;
}

.section-footer-text {
    display: flex;
    margin-top: 15px;
}

.item-footer {
    margin: 40px 50px 50px 0px;
    font-size: 13px;
}

.academic-formations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.container-formations {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.box-formation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.box-formation img {
    width: 100%;
    border-radius: 100%;
    padding: 10%;
}

.formation-title {
    width: 80%;
    text-align: center;
    line-height: 1.5em;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.formation-title-place {
    color: #894bdb;
}

.formation-year {
    font-size: 13px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.experience-description {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 170px;
    background-color: #6722a7;
    margin: 50px;
    border-radius: 10px;
    gap: 20px;
}

.box-experience-right {
    margin: 200px 0px 50px 30px;
}

.box-experience-left {
    margin: 50px 30px 50px 0px;
} 

.box-experience-left2 {
    margin: 150px 30px 50px 0px;
} 

.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lines {
    margin-top: 80px;
}

.lines .line1, .lines .line2, .line2 {
    width: 150px;
    height: 5px;
    background-color: #ffffff;
    margin-top: 50px;
}

.line2 {
    margin-top: 280px;
}

.lines .line2 {
    margin-top: 370px;
}

.column {
    width: 5px;
    height: 380px;
    background-color: #ffffff;
    margin-top: 130px;
}

.experience-title {
    font-size: 20px;
}

.experience-text {
    font-size: 15px;
    margin-bottom: 0px;
}

.experience-year {
    font-size: 13px;
}

.curiosities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.box-curiosity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.box-curiosity img {
    width: 35%;
    border-radius: 100%;
}

.curiosity-text {
    width: 60%;
    line-height: 25px;
}

.curiosity-text-right {
    margin: 0px 200px 50px 0px;
}

.curiosity-text-left {
    margin: 0px 0px 50px 200px;
}

/*-------------------------------------------- My Skills ------------------------------------------------*/
#my-skills {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 150px 100px 150px;
    border-top: 25px solid rgb(24, 24, 26);
}

.hard-skills, .soft-skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 100px;
}

.softSkills {
    margin-top: 130px;
    width: 80%;
    justify-content: center;
}

.box-hard-skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.hard-skill-conteiner {
    width: 100%;
    height: 50px;
    background-color: #5c1397; 
    border-radius: 10px;
    margin: 5px 10px 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hard-skill-bar {
    width: 70%;
    height: 2px;
    background-color: white;
    border-radius: 20px;
}

.hard-skill-circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #ffffff;
}

.box-soft-skill {
    width: 220px;
    height: 50px;
    background: linear-gradient(to right,#007FC6, #4D00AF, #A907AC);
    border-radius: 10px;
    margin: 5px 15px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------------------------------------------- Projects ------------------------------------------------*/
.projects {
    width: 100%;
    margin-top: 30px;
    padding-top: 60px;
    background-color: rgb(24, 24, 26);
    padding: 100px 0px 100px 0px;
}

.projects-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-project {
    margin-top: 50px;
    width: 70%;
    border: 2px solid #6722a7;
    height: 280px;
    border-radius: 10px;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 10px;
}

.box-project img {
    width: 30%;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 10px;
}

.box-project iframe {
    width: 30%;
    height: 100%;
}

.project-title {
    font-size: 20px;
}

.project-text {
    width: 70%;
    text-align: justify;
    margin: 50px 0 50px 0;
    line-height: 23px;
}

.project-link {
    background: linear-gradient(to right,#007FC6, #4D00AF, #A907AC);
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 35px;
    margin-top: 80px;
}

/*-------------------------------------------- Contact ------------------------------------------------*/
.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 80px 0 100px 0;
}

.contacts-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.contact-text {
    margin-bottom: 30px;
}

.box-contacts, .box-social-media {
    margin: 100px;
}

.contact-icons img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}


/*-------------------------------------------- Footer ------------------------------------------------*/
.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    line-height: 1.5em;
    width: 100%;
}

footer {
    width: 100%;
}


/*-------------------------------------------- Interactions------------------------------------------------*/
h3:hover {
    color: #894bdb;
    cursor: pointer;
    transition: 0.1s;
}

.home-icons img:hover, .contact-icons img:hover {
    cursor: pointer;
}

#btn-cv:hover, .circle img:hover, .box-hard-skill:hover, .hard-skill-conteiner:hover, .box-soft-skill:hover, .contact-text:hover {
    color: #918a99;
    cursor: pointer;
    transition: 0.1s;
}


