@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*.outfit-<uniquifier> {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0;
    background-color: #160033;
    color: rgb(238, 227, 227);
    font-family: "Outfit", sans-serif;
    letter-spacing: 0.1em;
}

header, main {
    margin: 50px 150px 50px 150px;
}

.little-title {
    font-size: 15px;
    color: #894bdb;
}

.section-title {
    font-size: 28px;
}

/*---------------------------------------------- Header ------------------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

h2 {
    font-size: 30px;
    background: linear-gradient(to right,#007FC6, #4D00AF, #A907AC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(243, 235, 235);
}

/*-------------------------------------------- Section Home ------------------------------------------------*/
#home {
    display: flex;
    justify-content: space-between;
    margin-top: 12%;
    height: 80vh;
}

.box-home {
    width: 50%;
}

#btn-back {
    position: fixed;
    left: 96%;
    top: 90%;
    width: 40px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    padding-top: 10px;
    background: linear-gradient(to right,#007FC6, #4D00AF, #A907AC);
    color: rgb(224, 224, 224);
}

.perfil img  {
    width: 90%;
    height: 68%;
    border-radius: 50%;
    background-color: #722cc2;
    margin-right: 50px;
}

h4 {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

h5 {
    font-size: 40px;
    padding: 0;
    margin: 30px 0px 30px 0px;
    width: 60%;
    color: #894bdb;
}

.home-title {
    width: 52%;
    text-align: justify;
    line-height: 1.5em;
    font-size: 18px;
}

.home-media {
    font-size: 15px;
}

.home-icons img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

#btn-cv {
    width: 290px;
    height: 60px;
    font-size: 25px;
    background: linear-gradient(to right,#007FC6, #4D00AF, #A907AC);
    color: white;
    border-radius: 30px;
    margin: 50px 0px 50px 0px;
    font-family: "Outfit", sans-serif;
    letter-spacing: 0.1em;
}

/*-------------------------------------------- About Me ------------------------------------------------*/
#about-me {
    margin-top: 130px;
}

.who-am-i {
    display: flex;
    justify-content: space-between;
}

.imgs-about {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.img-left {
    margin: 0px 200px 0px 100px;
    width: 25%;
    border-radius: 100%;
}

.img-right {
    margin: 0px 200px 0px 300px;  
    width: 25%;
    border-radius: 100%;
}

.box-about {
    width: 50%;
}

.section-text {
    margin-top: 40px;
    text-align: justify;
    line-height: 1.5em;
    font-size: 18px;
}

.section-footer {
    display: flex;
}

.item-footer {
    margin: 40px 50px 50px 0px;
    font-size: 13px;
}

.academic-formations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.container-formations {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.box-formation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.box-formation img {
    width: 80%;
    border-radius: 100%;
    padding: 10%;
}

.formation-title {
    width: 80%;
    text-align: center;
    line-height: 1.5em;
    font-size: 18px;
}

.formation-title-place {
    color: #894bdb;
}

.formation-year {
    font-size: 13px;
}

.circle {
    background-color: #5c00c6;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.experience-description {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 170px;
    background-color: #6722a7;
    margin: 50px;
    border-radius: 10px;
}

.box-experience-right {
    margin: 200px 0px 50px 30px;
}

.box-experience-left {
    margin: 50px 30px 50px 0px;
} 

.box-experience-left2 {
    margin: 150px 30px 50px 0px;
} 

.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lines {
    margin-top: 80px;
}

.lines .line1, .lines .line2, .line2 {
    width: 150px;
    height: 5px;
    background-color: #ffffff;
    margin-top: 50px;
}

.line2 {
    margin-top: 280px;
}

.lines .line2 {
    margin-top: 370px;
}

.column {
    width: 5px;
    height: 380px;
    background-color: #ffffff;
    margin-top: 130px;
}

.experience-title {
    font-size: 20px;
}

.experience-text {
    font-size: 15px;
    margin-bottom: 0px;
}

.experience-year {
    font-size: 13px;
}

.curiosities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
}

.box-curiosity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.box-curiosity img {
    width: 20%;
    border-radius: 100%;
}

.curiosity-text {
    width: 60%;
    text-align: justify;
    line-height: 1.5em;
}

.curiosity-text-right {
    margin: 0px 200px 50px 0px;
}

.curiosity-text-left {
    margin: 0px 0px 50px 200px;
}

/*-------------------------------------------- My Skills ------------------------------------------------*/
#my-skills {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hard-skills, .soft-skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 100px;
}

.box-hard-skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.hard-skill-conteiner {
    width: 300px;
    height: 50px;
    background-color: #5c1397; 
    border-radius: 10px;
    margin: 5px 10px 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hard-skill-bar {
    width: 250px;
    height: 2px;
    background-color: white;
    border-radius: 20px;
}

.hard-skill-circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #ffffff;
}

.box-soft-skill {
    width: 220px;
    height: 50px;
    background: linear-gradient(to right,#007FC6, #4D00AF, #A907AC);
    border-radius: 10px;
    margin: 5px 10px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soft-skills {
    margin-top: 130px;
    width: 60%;
}

/*-------------------------------------------- Contact ------------------------------------------------*/
footer {
    background-color: #2a0a55;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

#contact {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contact-text {
    margin-bottom: 30px;
}

.box-contacts, .box-social-media {
    margin: 50px;
}

.contact-icons img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    margin-top: 80px;
    line-height: 0.2em;
}

/*-------------------------------------------- Interactions------------------------------------------------*/
h3:hover {
    color: #894bdb;
    cursor: pointer;
    transition: 0.1s;
}

.home-icons img:hover, .contact-icons img:hover {
    cursor: pointer;
}

#btn-cv:hover, .circle img:hover, .box-hard-skill:hover, .hard-skill-conteiner:hover, .box-soft-skill:hover, .contact-text:hover {
    color: #918a99;
    cursor: pointer;
    transition: 0.1s;
}


